<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    title 微信消息模板页
    link(rel="stylesheet" href="./css/template.css")

  body
    div.main(style=`background-image: url(${oneImg})`)
      div.content
        p.weather
          span.weather-temp
            span.temp=`${todayInfo.tempArr[0]}`
            span="/"
            span.temp=`${todayInfo.tempArr[1]}`
          span.weather-status(style=`background-image: url(${weaImg})`)= todayInfo.WeatherText
            span.day-tip=` ${toDayTime.ncWeek}`
        p.date-tips=toDayLunar
        p.weather-tips= weatherTips
        p.date= `${toDayTime.cDay} ${toDayTime.cMonth}.${toDayTime.cYear}|一起的第`
          span.day=`${memorialDay}`
          span="天，小懒懒"
          if !!lanlanday.year
            span.day=`${lanlanday.year}`
            span="岁"
          span.day=`${lanlanday.month}`
          span="个月了"
        p.one-words= todayOne
        p.tips-words= `------By 爱你的懒懒爸爸与小懒懒`
